@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* banner section with background image and black overlay, logo, sign-in button and email input text box. First section seen by user  */

.banner-wrap  {
    background-image: url(./assets/bgimage.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 0.625rem solid #222222;
    height: 50vh;
    position: relative;
    z-index: 1;
}

.overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.55) 50%,
        rgba(0, 0, 0, 0.55) 50%,
        rgba(0, 0, 0, 0.9)
    ); 
    height: 100%;
    position: absolute;
    inset: 0;    
    width: 100%;
    z-index: -1;
}

.header {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 0px 20.5938px;
}

.logo {
    height: 32px; 
    width: 111.23px;
    padding-top: 8px;
}

.sign-in {
    background-color: rgb(229, 9, 20);
    border: none;
    border-radius: 0.25rem;
    height: 24px;   
    width: 60.84px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5.6px 0px 0px;
    padding: 4px 8px;
}

.sign-in:hover {
    background-color: rgb(178, 7, 16);
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 100px 0px 30px 0px;
}

.banner-container h1 {
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 0px 20.5938px;
}

.banner-container h2 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0px;
}

.banner-container h3 {
    display: none;
}

.lg-font {
    color: white;
    font-size: 26px;
}

.md-font {
    color: white;
    font-size: 18px;
}

.sm-font {
    color: white;
  
}

.get-started-form {
    display: flex;
}

.get-started-form input {
    display: none
}

.get-started-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 9, 20);
    border: 0.067rem solid rgba(0,0,0,0);
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    margin: 0rem 0rem 0rem 0.5rem;
    padding: 0rem;
    width: 115.92px;
}  

button .material-symbols-outlined {
    display: none;
}

/* three section with information about Netflix. Used absolute and relative positioning for images and videos */

.info-container {
    background: black;
    border-bottom: 0.625rem solid #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20.5938px;
   
}

.info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info1 h1 {
    margin-bottom: 8px;
}

.info1 h2 {
    margin: 13.5px 0px 4.5px;
    font-weight: 400;
}

.tv-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.tv-container video {
    height: 152.328px;
    width: 270.688px;
    margin-bottom: 10px;
    position: absolute;   
}

.tv-container img {
    height: 278.11px;
    width: 370.81px;
    z-index: 1;
}

.download-container {
    align-items: center;
    background: black;
    border-bottom: 0.625rem solid #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20.5938px;
    position: relative;
}

.download-img {
    position: relative;
}

.download-img img {
    height: 278.11px;
    width: 370.81px;
    z-index: 0;
    display: inline-block;
}

.rectangle {
    background-color: rgb(0,0,0);
    bottom: 10.8%;
    border: 0.063rem solid rgba(128, 128, 128, 0.7);
    border-radius: 0.75rem;
    box-shadow: 0 0 2em 0 rgb(0,0,0);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 22%;
    left: 15%;
    position: absolute;
    width: 70%;
    z-index: 1;
}

.download-img2 img {
    width: 34.28px;
    height: 48px;
    margin: 0px 16px;
    z-index: 2;
}

.download-details {
    margin-right: 2rem;
}

.download-title {
    color: white;
    z-index: 3;
}

.download-text {
    color: #0071eb;
    font-size: 0.813rem;
    z-index: 4;
}

.download-icon {
    z-index: 5;
}

.download-icon img {
    width: 1.625rem;
    height: 2.25rem;
}

.info2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
}

.info2 h1 {
    margin-bottom: 8px;
}

.info2 h2 {
    margin: 13.5px 0px 4.5px;
    font-weight: 400;
}

.watch-container {
    background: black;
    border-bottom: 0.625rem solid #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20.5938px;
}

.watch-img {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
} 

.watch-img video {
    height: 132.578px;
    width: 233.609px;
    object-fit: contain;
    top: 10%;
    position: absolute;
}

.watch-img img {
    height: 278.11px;
    width: 370.81px;
    z-index: 1;
}

.create-container {
    background: black;
    border-bottom: 0.625rem solid #222222;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4.375rem 2.813rem;
}

.create-img {
    align-items: center;
    display: flex;
    justify-content: center;
}

.create-img img {
    height: 278.11px;
    width: 370.81px;
}

/* frequently asked questions section */

.questions-container {
    align-items: center;
    background: black;
    border-bottom: 0.625rem solid #222222;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}

.questions-container h1 {
    padding: 0px 20.5938px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 24.5px;
}

.questions-btn {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0rem;
    width: 100%;
}

.block {
    align-items: center;
    display: flex;
    background-color: #2f2e2e;
    border: none;
    border-style: outset;
    border-color: rgb(255, 255, 255);
    border-width: 0rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    height: 49.78px;
    justify-content: space-between;
    flex-direction: row;
    padding: 14.4px 21.6px 14.4px 39.6px;
    margin-bottom: 1px;
    text-align: left;
    width: 100%;
  
}

.block:hover {
    background-color: #414141;
}

.block .material-symbols-outlined {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 100;
    height: 25.46px;
    width: 25.46px;
}

.faq-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.625rem;
    width: 100%;
}

.faq-answer {
    display: none;
    color: rgb(255, 255, 255);
    background-color: #2f2e2e;
    font-size: 18px;
    font-weight: 400;
    padding: 21.6px;
    width: 100%;
}

.input-area {
    display: flex;
}

.input-area h3 {
    display: none;
}

.get-started-form2 {
    display: flex;
}

.get-started-form2 input {
    display: none;
}

.get-started-form2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 9, 20);
    border: 0.067rem solid rgba(0,0,0,0);
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    margin: 0rem 0rem 0rem 0.5rem;
    padding: 0rem;
    width: 115.92px;
}  

.get-started-form2 .material-symbols-outlined {
    display: none;
}


/* footer section with links to more information and language selector button */

.footer {
    background: black;
    color: rgba(255,255,255,0.7);
    padding: 50px 20.5938px 0px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    justify-content: center; 
}

#number {
    color: rgba(255,255,255,0.7);
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}

#call {
    font-size: 16px;
}


.list-items {
    columns: 2;
    column-gap: 2.188rem;     
    margin: 30px 0px;
}

.list-items li {
    list-style-type: none;
    padding: 0rem 0rem 0.75rem 0rem;        
    
}

.list-items li:hover {
    cursor: pointer;
    text-decoration: underline;
}

li {
    font-size: 13px;
}

.dropdown-btn {
    align-items: center;
    background-color: #0F0F0F;
    border: 0.063rem solid #5E5E5E;
    border-radius: 0.25rem;
    color: white;
    display: flex;
    height: 2rem;
    position: relative;    
    width: 125.33px;
}

.dropdown-btn select {
    color: white;
    appearance: none;
    background-color: #0F0F0F;
    background: url(./assets/carot.png) 90% no-repeat;
    background-size: 1.25rem;
    border: none;
    display: flex;
    font-weight: 500;
    padding: 0.375rem 2.25rem 0.375rem 2.125rem;
    width: 100%;
}

.dropdown-btn .material-symbols-outlined {
    align-items: center;
    margin-left: 0.563rem;
    position: absolute;
}

option {
    color: white;
    background-color: #0F0F0F;
}

 #copyright {
    font-size: 13px;
    margin: 1.5rem 0rem 0rem 0rem;
} 

/* github account : @amahlehani */






